.message--input--container {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

/* move to common space */
textarea:focus {
    outline: none;
    box-shadow: none;
}

.message--input--field {
    background: none;
    color: #fff;
    font-size: 1rem;
    border: none;
    resize: none;
    margin: 0.25rem 0.5rem;
    width: calc(100% - 0.75rem);
    height: calc(100% - 0.75rem);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.message--char--count {
    position: absolute;
    bottom: -1.25rem;
    right: 0rem;
    color: #fff;
    font-size: 0.75rem;
}

.invalid--input {
    border: 2px solid red;
}
